[2018-06-03 07:56] liudragonfly opened #1 "how to use different optimizer for wide and deep part?"
In the implementation of TensorFlow, wide part uses FTRL and deep  part uses AdaGrad.
Wide part and deep part use one optimizer in your implementation. How to use different optimizer ?
Thank you.

[2019-03-13 14:20] jrzaurin commented on #1
Hey @liudragonfly I actually never realised of this! sorry, is being months!

I guess you found the solution, but if not. Check this:
https://discuss.pytorch.org/t/two-optimizers-for-one-model/11085

You have to pass the wide and deep parameters to the two optimisers

[code]

basically the weights of the wide side would be `part_1_parameters` and the weights of the deep side would be `part_2_param

[2019-03-17 19:48] jrzaurin commented on #1
I have added a function to use different optimisers for the wide and deep part.

Is not as "pretty" as could be, but does the job for what this repo intends to be.

Thanks for the comment and sorry it took me months to react. I did not realised 😞 .

[2019-03-17 19:48] #1 closed

[2019-09-19 12:28] Usernamezhx opened #3 "about the wide feature and deep feature"
first of all. thanks for your work. I am a little confuse about the split of the wide and deep feature. **embeddings_cols, continuous_cols, standardize_cols, wide_cols, crossed_cols, already_dummies**. embeddings_cols is the category feature. continuous_cols is continuous feature. what's the different between standardize_cols and continuous_cols? the wide_cols feature is similar to the category fe

[2019-09-19 15:12] jrzaurin commented on #3
Hi @Usernamezhx

ok, let me explain. If you go here:
https://github.com/jrzaurin/Wide-and-Deep-PyTorch/blob/master/prepare_data.py#L52

you will read the following:
[code]

The functions in `prepare_data.py` are highly customised to the problem in particular. So, given this input, and for the airbnb dataset:

[code]

what will happen is that while `'security_deposit', 'extra_people'` will be stand

[2019-09-20 06:24] Usernamezhx commented on #3
Thank you very much for your patiently reply.

[2019-09-20 06:24] #3 closed

[2019-12-18 10:53] jrzaurin opened #7 "Bug related to `predict_proba`"
Initially, the activation function for a multi-class problems was `F.softmax()`. This is not necessary when using `F.cross_entropy` since the latter already applies a `logSoftmax` to the inputs.

I fix this for the `.fit` method but stills needs to be fixed for the `predict_proba` method.

Note that this will not change the accuracy metric since `Softmax` does not change `argmax` (i.e preserves th

[2019-12-18 16:40] #7 closed

[2020-04-13 05:57] dongfeng951 opened #9 "Where can I get the airbnb data?"
Hi,
     Thanks for the code. Where can I get the airbnb data? Is there a link?
     Best regards!

[2020-04-14 18:08] jrzaurin commented on #9
hey, yes, there is a link in this [notebook](https://github.com/jrzaurin/pytorch-widedeep/blob/master/examples/05_Regression_with_Images_and_Text.ipynb)

Or simply go [here](http://insideairbnb.com/get-the-data.html)

[2020-04-14 18:09] #9 closed

[2020-04-15 03:55] dongfeng951 commented on #9
Thanks! Best wishes!

[2020-05-11 09:53] lireagan opened #11 "how to input my own dataloader to it?"

[2020-05-18 08:46] javier-cazana commented on #11
Hi there @lireagan

thanks for opening the issue and sorry for the delay, I am but buys these days but I aim to come back to the package soon

Regarding your request, at the moment you can't. DataLoader are built internally here: https://github.com/jrzaurin/pytorch-widedeep/blob/bdf777d3d3af5c38f964cd95cbc6b6c0b109804b/pytorch_widedeep/models/wide_deep.py#L499

within the main "collector" class `W

[2020-06-03 11:29] lireagan commented on #11
Thank you for your response! There are 2 reasons why i want to use customized dataloader:
1) If I only use csv files as input, it will load the whole dataset on cpu memory, and when the dataset is very large(for example, 2M samples), it will result in OOM. So I want to use some dataloaders which support batch-input.
2) in some cases, my datasets are not save locally, they maybe on cloud, so I need

[2020-06-03 11:29] lireagan commented on #11
@javier-cazana

Thank you for your response! There are 2 reasons why i want to use customized dataloader:
1) If I only use csv files as input, it will load the whole dataset on cpu memory, and when the dataset is very large(for example, 2M samples), it will result in OOM. So I want to use some dataloaders which support batch-input.
2) in some cases, my datasets are not save locally, they maybe on

[2020-06-03 11:41] javier-cazana commented on #11
Hi @lireagan

cool, ok, so yeah, possibly the easiest option would be to refactor the code to allow custom dataloaders, I will think how to do that smoothly.

In the meantime:

1. You could code you own batch generator, generate batches out of arrays and pass them to the model. Bear in mind that one of the reason why I did not design a very flexible package when it comes to loading the data is bec

[2020-06-03 12:10] lireagan commented on #11
Yes, I'm refactoring the fit function and use my batch generator as an alternative.
The question 2 is that, the cloud provide a on-line read function:
[code]
And I want to use this API to construct my own Dataset and generate batch-size inputs.

[2020-06-04 12:45] TtCWH opened #12 "why the shape of X_wide_test different from X_wide_train"
train_set and test_set both use preprocess_wide built by WidePreprocessor(wide_cols=wide_cols, crossed_cols=cross_cols)

[2020-06-05 17:17] jrzaurin commented on #12
Hey @TtCWH

Could you elaborate a bit more? or give me some code I can reproduce?

`WidePreprocessor` simply one-hot encodes the categorical features. So the only way I find for the test set to have different shape than the train set would be if there is a new category in the test set.

However,  `WidePreprocessor` uses `Sklearn`'s `OneHotEncoder `, and the default for `handle_unknown` is `error`.

[2020-06-05 17:41] jrzaurin commented on #11
Ok, I see...

I will then look to add that functionality in the future.

Going to close this issue. I will re-open it if needed

Thanks for the issue @lireagan

[2020-06-05 17:41] #11 closed

[2020-07-08 10:04] weiyang112 opened #13 "question about loss"
hello,i want to know why the input need to be "input = torch.cat([1 - input, input], axis=1)",what the meaning of 1-input. the input should be original input that not the sigmoid result,because you use F.binary_cross_entropy_loss_withlogits instead of binary_cross_entropy.

[2020-07-11 01:05] jrzaurin commented on #13
Hey @weiyang112

you are right, that is a bug. Is ok for the multiclass problem, but for a binary is wrong.

I have fixed it in master.

There is a new version coming and that will change. It will be clearer as no `sigmoid` will be applied before using the Focal Loss.

Many thanks!

[2020-07-11 01:13] jrzaurin opened #14 "Fix Focal Loss input/output for upcoming version (temporal solution in master)"
The issue is related to the use of `F.binary_cross_entropy_with_logits` instead of `F.binary_cross_entropy`. The problem is that I use a sigmoid activation in the case of a binary classification and no activation for a multiclass problem. Therefore, although the use of `F.binary_cross_entropy_with_logits` is correct for multiclass, is not the case for binary.

also the method `get_weight` applies

[2020-07-11 09:59] jrzaurin commented on #13
The loss is still not correct.

Bug fix on its way

[2020-07-13 14:13] jrzaurin commented on #14
This is fixed in the new release 0.4.1

[2020-07-13 14:13] #14 closed

[2020-07-13 14:14] jrzaurin commented on #13
Hi @weiyang112

The Implementation of the Focal Loss is now been fixed in the new release (0.4.1)

Going to close this

Thanks again for pointing that out

[2020-07-13 14:14] #13 closed

[2020-07-13 14:14] jrzaurin commented on #12
Hey @TtCWH

If you do not mind I am going to close this.

if it becomes active again I will re-open :)

[2020-07-13 14:14] #12 closed

[2020-07-14 02:55] weiyang112 opened #16 "recall metrics"
hello,Javier:
        you do a good job, thank you very much. but still a little suggestions, most people usually meet extremely imbalanced data, maybe recall metrics will be better than accuracy, so in order to improve the effect ,you can add recall or precision metrics ~

thank you again for you contribution~

[2020-07-14 13:36] jrzaurin commented on #16
@weiyang112

hey there!

you are quite right!

I will add Prec and Recall as soon as I can. I will try to add an implementation for both binary and multiclass problems.

Thanks again for the suggestion!

(also, if you want to contribute...the code is there 😉)

Thanks!

[2020-07-19 10:23] jrzaurin commented on #16
@weiyang112

I still need to adjust the notebook examples, but a new suite of metrics for both binary and multiclass problems is now included in the `metrics` [module](https://github.com/jrzaurin/pytorch-widedeep/blob/precision_recall/pytorch_widedeep/metrics.py) in the branch `precision_recall`

I will adjust the notebooks, merge and publish over the week, but just in case you could use them from

[2020-07-21 06:59] chenvega commented on #12
Instead of using "preprocess_wide.fit_transform(df)", you can divide into two command:
1. preprocess_wide.fit(df)
2. X_wide_train = preprocess_wide.transform(df_train)

same as DeepPreprocessor

[2020-07-21 10:47] jrzaurin commented on #16
@weiyang112 PR is now merge and Precision, Recall, FBeta and F1 are now available.

Closing this

Thanks again for your suggestion

[2020-07-21 10:48] #16 closed

[2020-07-22 13:09] yuanzhiKe opened #18 "About Memory Issues with Large Dataset"
Hello, Javier.
Thank you very much.
You do a great job. It is so easy to use. I love your work.

I tried to use pytorch-widedeep to learn my own data, where there are about 30M unique ids.
I noticed that the wide model first builds one-hot-vectors and then inputs them to a dense layer, and found that the one-hot-encoder from sklearn costs a lot of memories.
I think maybe it is equal to input the i

[2020-07-27 16:47] jrzaurin commented on #18
Hi @yuanzhiKe

**MANY** thanks for your kind comments.

Yes, you are right, one hot encoding takes A LOT of memory, moreover for 30M unique ids!

Feeding indexes to an Embedding layer is pretty much what the `DeepDense` does. The idea of using the `Wide` component is because it directly represents a Linear model. There are two solutions I see I could implement.

1. Implement a sparse `Wide` compon

[2020-07-28 11:23] jrzaurin commented on #18
Also @yuanzhiKe

check the docs here: https://pytorch-widedeep.readthedocs.io/en/latest/preprocessing.html#pytorch_widedeep.preprocessing.WidePreprocessor

you have the `sparse` option, but bear in mind that this will be way slower since, as I mention, there is no fast way to slice sparse tensors, therefore, what I do is simply:

[code]

in the data loader, and `todense()` takes time.  I will chan

[2020-07-29 07:37] yuanzhiKe commented on #18
Hi, @jrzaurin
I think maybe changing the wide model as follows would reduce the memory cost:

[code]

I have forked your code and I am working on it to see whether it changes the performance.

[2020-08-07 21:55] jrzaurin commented on #18
Hi @yuanzhiKe

I have implemented your solution, unit-tested, updated example notebooks, etc...

I need to test al installations in GPU (soon!) and I will open a PR

if you have some time, have a look to the branch `wide_embedding`: https://github.com/jrzaurin/pytorch-widedeep/tree/wide_embedding/pytorch_widedeep

Thanks again for your suggestion!

[2020-08-09 07:13] yuanzhiKe commented on #18
Thank you for accepting my solution.
The code changes in .py file in #20 looks good to me
But I find that the loss values in 05_Regression_with_Images_and_Text.ipynb and 06_WarmUp_Model_Components.ipynb are much lower than those at the master branch. Do you know why?

[2020-08-09 07:37] jrzaurin commented on #18
Yes, because in the master branch I was printing the RMSE while now I have changed the code to print MSE, for consistency with the `History` callback and the pytorch loss `F.mse_loss`. I have also updated the document and I will explicitly state it in the relase

[2020-08-09 09:57] jrzaurin commented on #18
@yuanzhiKe I have now merged and publish to PyPi

Once again, many thanks

[2020-08-09 09:57] #18 closed

[2020-08-10 14:18] jrzaurin opened #21 "A more advance text component"
Currently the default text component is simply a stack of `LSTMs`: https://github.com/jrzaurin/pytorch-widedeep/blob/215f3bb99ad719f80df4b3ac39b07eeae1584fed/pytorch_widedeep/models/deep_text.py#L126

while the image component component can be a pretrained ResNet: https://github.com/jrzaurin/pytorch-widedeep/blob/215f3bb99ad719f80df4b3ac39b07eeae1584fed/pytorch_widedeep/models/deep_image.py#L105

[2020-08-10 14:22] jrzaurin opened #22 "ResNet blocks for the DeepDense component"
The `DeepDense` component is at the moment a series of dense layers: https://github.com/jrzaurin/pytorch-widedeep/blob/215f3bb99ad719f80df4b3ac39b07eeae1584fed/pytorch_widedeep/models/deep_dense.py#L118

It would be good to offer the possibility of using Resnet blocks as well, as they do in packages like [AutoGluon Tabular](https://arxiv.org/pdf/2003.06505.pdf) their Figure 1.

[2020-08-10 14:28] jrzaurin opened #23 "Code Structure"
At the moment the main class `WideDeep` is a gigantic class that does everything, builds the model, compile it, trains, validates, predict: https://github.com/jrzaurin/pytorch-widedeep/blob/215f3bb99ad719f80df4b3ac39b07eeae1584fed/pytorch_widedeep/models/wide_deep.py#L28

It would be useful for me to have someone else having a look to the code and discuss about other potential structures. For exam

[2020-08-15 08:41] jrzaurin opened #24 "Bug in the airbnb regression example script: `already_standard` should not be standarised"
features like longitude and latitude should, a priori, not be standardised/normalised. This is why there is a parameter in the [`DeepPreprocessor`](https://github.com/jrzaurin/pytorch-widedeep/blob/215f3bb99ad719f80df4b3ac39b07eeae1584fed/pytorch_widedeep/preprocessing/_preprocessors.py#L183) `already_standard` to pass features that should not go through the standardise process.

In the Airbnb exa

[2020-09-03 08:21] deng0515001 opened #25 "how to save and load model?"
exception occupied when i save model toch.save(model, a.model) and then use  toch.load(a.model) and then  preprocess_wide.transform to predict my label.

 exception like this:
This WidePreprocessor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

please help me !

[2020-09-05 15:28] jrzaurin commented on #25
hey @deng0515001

Loading the model and save it is a different process than preprocessing

The error you are obtaining is related to the fact that you have not fitted the `WidePreprocessor`

From here https://github.com/jrzaurin/pytorch-widedeep/blob/215f3bb99ad719f80df4b3ac39b07eeae1584fed/pytorch_widedeep/preprocessing/_preprocessors.py#L119

[2020-09-05 16:45] jrzaurin commented on #25
Hi @deng0515001

I have added a few lines at the end of the Quick start guide in the readme to help you see how to save/load model.

Let me know if you have more problems 🙂
Cheers!
J

[2020-09-16 22:08] javier-cazana commented on #25
Hi @deng0515001

any luck?

can I close this issue?

[2020-09-20 08:53] jrzaurin commented on #25
Hi @deng0515001

I am going to close this issue. If your problems persist I will reopen it

[2020-09-20 08:53] #25 closed

[2020-09-20 10:00] jrzaurin commented on #22
Added and merged 😉

[2020-09-20 10:00] #22 closed

[2020-09-22 21:57] aydindemircioglu opened #27 "augmentations/transform while predicting?"
first, thanks for the package!
i observed a strange behaviour when doing regression, maybe that's expected, but was not for me.
i tried to use transformations, so before i had:
[code]

and then later with new data

[code]

this worked fine.

but after changing the transformations to
[code]

suddenly i got much too high values when predicting. i figured that might stem from the transformations, so

[2020-09-24 17:20] jrzaurin commented on #27
hey @aydindemircioglu

thanks for the issue.

well, I am not sure what is the input format you are using (`np.array`s?) but this:

[code]

is not really an augmentation. All that is doing is transform to tensor, as you know.  I will look into this further, but if there are no transforms passed to the `WideDeepDataset ` it should take care of the `ToTensor()` transformation automatically, here: htt

[2020-09-26 20:00] aydindemircioglu commented on #27
thanks for your answer, right now i'm on vacations and cant come back to the issue. but i think you pinned it down, i was probably adding the ToTensor just to avoid that scaling. and yes, i know that this is no augmentation, but it as i will at times might do "augmentations at test-time" i still think having the possibility to apply augmentations while validation make sense. it should be just a fe

[2020-09-26 21:53] jrzaurin commented on #27
Hey @aydindemircioglu

no worries, I will wait until you came back from holidays for your feedback 🙂

Regarding augmentation on testing, technically you could do it, but people don't normally do it (the only case I know when you would use it is for Test Time Augmentation (TTA)).

The reason why augmentation is not used at testing is because it is used to increase train size and for the model to ge

[2020-10-02 20:24] #24 closed

[2020-10-16 15:37] jrzaurin opened #28 "Allow using models individually"
Right now there is the assumption that the model needs to be comprised by at least the wide and the deep components.

The idea would be to allow the use of individual components alone

[2020-10-17 01:40] AITutorials opened #29 "how to save/load "preprocess_deep" and "preprocess_wide""
when I use `joblib` to `dump` the preprocess_deep and preprocess_wide:

[code]

---

error:

Traceback (most recent call last):
  File "wide_deep_baseline_train.py", line 90, in <module>
    X_deep_te = preprocess_deep.transform(df_test)
  File "/usr/local/lib/python3.7/site-packages/pytorch_widedeep/preprocessing/_preprocessors.py", line 273, in transform
    df_emb = self.label_encoder.transform

[2020-10-26 13:33] jrzaurin commented on #29
Hi @AITutorials

The error you are getting happens here:
https://github.com/jrzaurin/pytorch-widedeep/blob/9f610513670da8ab670047ea3f3a94f5769c31d7/pytorch_widedeep/preprocessing/_preprocessors.py#L273

when you run `transform` with the trained `label_encoder`, as you can see here:
https://github.com/jrzaurin/pytorch-widedeep/blob/9f610513670da8ab670047ea3f3a94f5769c31d7/pytorch_widedeep/utils/den

[2020-12-04 15:02] #28 closed

[2020-12-14 09:26] #29 closed

[2021-01-26 16:32] felixcaz opened #32 "Incomplete example in deep_dense.py docstring"
The example in the DeepDense class doc string is missing `continuous_cols` param.
4 categorical columns and one continuous column are created, though when creating the network the `continuous_cols` is not specified so even though you pass a 5 column tensor to the model with model(X_deep) the result is not using the 5th column at all. For e.g if after running the example you do `X_deep[:, 4]=0` and

[2021-02-20 13:46] jrzaurin commented on #32
hey @felixcaz

This is now sorted

Thanks for opening the issue

[2021-02-20 13:47] #32 closed

[2021-02-20 13:51] jrzaurin commented on #23
The structure of the code has completely changed and building and training the model are now decoupled.

See the new release `v0.4.8` for more details

[2021-02-20 13:52] #23 closed

[2021-02-22 13:12] jrzaurin opened #34 "Consistent names for model components"
At the moment there are two inconsistencies of different nature:

1. There is one very small inconsistency between pypi and the github version. If you installed the pypi version, the Transformer Encoder blocks component of the `TabTransformer` model are called `blks`. However, if you install from github those blocks are called `tab_transformer_blks`, which is a name more consistent with the other

[2021-04-09 15:36] jrzaurin commented on #34
Done

[2021-04-09 15:36] #34 closed

[2021-04-14 08:44] NicoLivesey opened #35 "Lack of consistency between deeptabular components"
Hi,

Sorry i'm new to this library but it seems to me that there is a lack of consistency in the transition between tabprocessor and deeptabular steps or at least it would be nice to have a snippet in the examples.

If I start with the most basic example for tabprocessor
[code]

Here's my concern:
This works
[code]

And this not
[code]

The error I get
[code]

Thank you in advance for your help !

[2021-04-16 14:52] jrzaurin opened #36 "Reset metrics before validation"
At the moment the metrics are not reseted before evaluation which means that if you print metrics as well as losses, the metrics will be computed considering the entire dataset (this does not affect losses).

A fix will happen asap in the current version (will only be available in github) and there is a new version coming where it will also be fixed (available in both, github and pypi)

[2021-04-16 15:19] jrzaurin commented on #36
Bug Fixed.

**IMPORTANT**: fix only available if package installed from github.

New version available via both github and pip coming soon.

[2021-04-16 15:19] #36 closed

[2021-04-16 15:19] jrzaurin commented on #36
Bug Fixed.

**IMPORTANT**: fix only available if package installed from github.

New version available via both github and pip coming soon.

[2021-04-21 16:10] jrzaurin commented on #35
Hey @NicoLivesey

thanks for using/trying the package!

If you look at the documentation: https://pytorch-widedeep.readthedocs.io/en/latest/preprocessing.html#pytorch_widedeep.preprocessing.TabPreprocessor

you will see there is an option/param `for_tabtransformer` that you need to set to `True` if you are using the `TabTransformer`. This is because the embedding size for the `TabTransformer` HAVE

[2021-04-21 16:41] NicoLivesey commented on #35
Oh wow I am so sorry for not seeing this param, I'll use your second solution for sure. Thanks for your help I close this issue ! :)

[2021-04-21 16:41] #35 closed

[2021-04-21 17:20] jrzaurin commented on #35
No probs, there is a much improve version coming (tabnet branch) and I am running a huge set of experiments (soon published in a diff repo) to help set up defaults and compare with gbms, so stay tuned!

And thanks again!

[2021-05-11 00:45] mlaugharn opened #37 "Directly extracting embeddings?"
Hello, I would like to use the widedeep model together with pytorch-metric-learning, which uses (embedding, label) pairs. Is it possible to extract the embedding from the model in an easy fashion, e.g. perhaps with like an identity head component?

Thank you!

[2021-05-11 05:39] jrzaurin commented on #37
By the way, there is new version coming (the tabnet branch) in case you are interested 🙂 and thanks for using the package!

[2021-05-21 20:41] #37 closed

[2021-06-04 13:02] cmcmaster1 opened #38 "SAINT Model"
This new model would be great to implement: https://arxiv.org/abs/2106.01342

They mention that they even found performance improvements in the TabTransformer architecture by embedding continuous variables (variable-specific linear layer to go form 1 -> n_embeddings). I have made a fork and implemented this as an option in _tab_transformer_. Okay to make a PR?

[2021-06-09 08:21] jrzaurin commented on #38
hey @cmcmaster1 , Sorry it took me some time to reply!

We are indeed familiar with SAINT, the main author said in twitter they were going to release the code soon, so we were waiting. I have a few concerns...but we will try to bring it to the package as well as the model that won the tabular playground competition.

I am really busy at work these days so things are getting a bit slow on developin

[2021-06-09 18:26] #27 closed

[2021-06-12 20:57] jrzaurin commented on #38
@cmcmaster1 saint code released: https://github.com/somepago/saint

Now is just a matter of time. If you want to help you are more than welcome 😉

[2021-06-29 08:51] zengqixun12 opened #40 "how can I get the adult dataset?"
how can I get the adult dataset?

[2021-06-29 09:19] Promisery commented on #40
[Link](https://archive.ics.uci.edu/ml/datasets/Adult) from UCI Machine Learning Repository
[Link](https://www.kaggle.com/uciml/adult-census-income) from kaggle

[2021-06-29 12:24] jrzaurin commented on #40
Thanks @Promisery

Ill close this

[2021-06-29 12:25] #40 closed

[2021-07-20 15:30] Aceticia opened #43 "How to process data in a minibatch setting"
Hi! This is an amazing package, things are very clearly documented and very easy to use on any of my cases.

One question I have is how I can adapt the code here to a minibatch scenario. Looking into the trainer class definition, the fit method does initiate a custom dataloader on the dataset passed into it. So I should be able to write a custom dataloader to take care of data loading.

But where

[2021-07-21 08:24] javier-cazana commented on #43
Hey @Aceticia thank you!

ok, let's see:

1.  If I create a dataframe that contains the same columns as real data and put in dummy examples that contain all possible combinations of categorical features it should work fine.

Not sure I follow...could you perhaps insert some pseudo code or an illustration of what you want to do? Let's see...if you real data has two columns, you would create a dataf

[2021-07-21 13:29] suvojit-0x55aa opened #44 "AttributeError: 'tuple' object has no attribute 'view'"
Getting the following error while training.

[code]

[2021-07-21 18:23] jrzaurin commented on #44
hey @suvojit-0x55aa

looks like your target is a tuple

can you provide a reproducible example so I see what are you feeding to the trainer?

[2021-07-28 22:07] FernandoAMDM opened #45 "Tuning TabNet Hyperparameters K-Fold CV"
In Scikit-learn a common workflow would be to define your hyperparameter space, the model to be tested and fit like that:

[code]

Now in pytorch-widedeep the recommended path for training a single model is:

[code]

So, how could I do a random search for the best hyperparameter of a model (for example: TabNet or TabTransformer) in a cross validated way ? If I just put the trainer object in the Ra

[2021-07-29 13:15] sallypannn opened #46 "corner case: seq could be empty list when preprocessing texts"
Hi, I think it is a corner case if seq = [] when preprocessing texts. It could lead to error in the following line.
https://github.com/jrzaurin/pytorch-widedeep/blob/8e110a93689b7b1e1838f9d68d6d9b1ff5c51adf/pytorch_widedeep/utils/text_utils.py#L118

[2021-07-30 08:08] jrzaurin commented on #45
Hey @FernandoAMDM, thanks for the question!

Well, my first comment would be to not use `RandomizedSearchCV` or `GridSearchCV` these days, when you have superior Bayesian methods (`Hyperopt`, `Optuna` or even `Ax` for Pytorch). However, if you do need or want to use those methods you would have to code your own class to be passed to `RandomizedSearchCV`.  Something like this:

[code]

now, bear in

[2021-07-30 08:14] jrzaurin commented on #46
Hey @sallypannn

mmmm...🤔, I can return a sequence that is just all `pad_idx` but I can't easily see an example where after tokenising and "numericalising" there is an empty sequence in the list of sequences.

Nonetheless, I will add:

[code]

that will solve the problem

Thanks for the issue!

[2021-07-30 08:14] #21 closed

[2021-07-30 13:38] FernandoAMDM commented on #45
Thank you, I will give it a try

[2021-08-11 14:07] jrzaurin commented on #38
SAINT is now added

[2021-08-11 14:07] #38 closed

[2021-08-11 14:07] jrzaurin commented on #46
This is now fixed

[2021-08-11 14:07] #46 closed

[2021-08-11 14:08] jrzaurin commented on #45
Closing it for now. Let me know if you have any other Question

[2021-08-11 14:08] #45 closed

[2021-09-15 08:12] jrzaurin commented on #44
Closing this due to the lack of response/activity

[2021-09-15 08:12] #44 closed

[2021-09-15 08:13] jrzaurin commented on #43
Closing this due to lack of response/activity

[2021-09-15 08:13] #43 closed

[2021-09-18 02:07] starevelyn opened #51 "ImportError: cannot import name 'Trainer'"
when i import packages, it occurs this error:
from pytorch_widedeep import Trainer
ImportError: cannot import name 'Trainer'

why is that happening?

[2021-09-18 02:39] #51 closed

[2021-09-18 02:41] starevelyn commented on #51
i found the bug, the name of my python file  is the same with the package name, both are "pytorch_widedeep"....

[2021-09-27 13:45] LaxmanSinghTomar opened #52 "How to deal with absence of values in Target Label on new Dataset?"
Hello, I was going through the sample tutorial notebooks provided by you. In the notebook: Save and Load Model and Artifacts,
when we want to evaluate our saved model on new data, you have kept "Target" in the dataframe which is in fact our Label column. The values from this column aren't available to us in the real-world and are something we are expecting our model to predict. How we are providin

[2021-09-28 16:01] jrzaurin commented on #52
Hey @LaxmanSinghTomar

thanks for the question!

If you notice, the preprocessor **does not** take the target column as an input (and assumes the user will not pass it in either the `embed_cols` and the `continuous_cols` input params. See here: https://github.com/jrzaurin/pytorch-widedeep/blob/6540cd3cb33b2d7f0ad55e73371094e0d4f9907b/pytorch_widedeep/preprocessing/tab_preprocessor.py#L130)

In the

[2021-10-01 16:01] jrzaurin commented on #52
@LaxmanSinghTomar I am assuming this solved your issues so I am going to go ahead and close it.

If you have further questions I will re-open it

[2021-10-01 16:01] #52 closed

[2021-10-06 13:02] dholzmueller opened #53 "Transformers fail without categorical features"
The models SAINT, FTTransformer and TabFastFormer contain the code
[code]
The variable self.embed_continuous is not set anywhere, probably it has been used in an older version of the code and was then replaced by True later. For data sets without categorical features, this code raises an error. Removing this code should resolve the issue.

[2021-10-07 16:03] #53 closed

[2021-11-04 01:00] 5uperpalo opened #57 "Add uncertainty prediction using Monte Carlo method"
Add simple uncertainty prediciton using Monte Carlo, ie DropOut, method using approach from following paper:
* https://arxiv.org/abs/1506.02142
some inspiration:
* https://towardsdatascience.com/monte-carlo-dropout-7fd52f8b6571
* https://stackoverflow.com/questions/53879727/pytorch-how-to-deactivate-dropout-in-evaluation-mode

[2021-11-08 11:42] jrzaurin opened #58 "Add Attention Mechanisms to TabMlp for potential model interpretability"
The idea is to use simple attention mechanisms for those simple(r) models to help with model interpretability. See [branch](https://github.com/jrzaurin/pytorch-widedeep/tree/jrzaurin/attention_mlp).

[2021-11-16 12:08] 5uperpalo opened #59 "Add Regression losses"
Add losses that show promising results for regression prediction in scenarios with highly imbalanced datasets used e.g. in Life Time Value prediction
* ZILN loss paper https://github.com/google/lifetime_value/blob/master/lifetime_value/zero_inflated_lognormal.py
  * loss and prediction method https://github.com/google/lifetime_value/blob/master/lifetime_value/zero_inflated_lognormal.py
* Quantile

[2021-11-19 09:29] jmpark-swk opened #60 "Question about a place of the self.bias in _embeddings_layers.py."
(https://github.com/jrzaurin/pytorch-widedeep/blob/c287c870eb3e22f1a05753c821daaa715b1ed917/pytorch_widedeep/models/transformers/_embeddings_layers.py#L173)
Hello, first of all, thank you for releasing a wonderful code.
I have a question while looking at the code related to ft_transformer.

Is there any particular reason why an adding bias function is placed after a dropout function?
Is there a pr

[2021-11-19 09:47] jrzaurin commented on #60
Hey @jmpark-swk

Thanks for opening the issue.

No, no reason, and I think you are right, we should add bias and THEN apply dropout. We are about to merge a PR from @5uperpalo (check #56 and we will fix it there).

@5uperpalo  can you take care of this?

Thanks again.

in the meantime, please, join us in slack! 🙂: https://join.slack.com/t/pytorch-widedeep/shared_invite/zt-soss7stf-iXpVuLeKZz8lGTnx

[2021-11-22 03:57] jmpark-swk commented on #60
@jrzaurin
Thanks for your kind reply😀.

[2021-11-22 09:01] jmpark-swk commented on #60
@jrzaurin
As I look at the code, I have one more question to ask.
https://github.com/jrzaurin/pytorch-widedeep/blob/c287c870eb3e22f1a05753c821daaa715b1ed917/pytorch_widedeep/models/transformers/_embeddings_layers.py#L15
I understand FullEmbeddingDropout has the same mathematical effect.
I wonder the purpose of the implementation.
In the current situation, if FullEmbeddingDropout is used, dropout i

[2021-11-22 09:28] jrzaurin commented on #60
hey @jmpark-swk

Let's address the question in two parts:

1. _understand FullEmbeddingDropout and nn.Dropout have the same mathematical effect._  : no, `FullEmbeddingDropout` will drop out a full "word" in the sequence, while `nn.Dropout` will set to 0 random elements of the income Tensor. For example, say you have a batch of size 1, sequence length 10 and embed size 16, leading to an input tenso

[2021-11-22 13:45] jmpark-swk opened #61 "FullEmbeddingDropout works during evaluation"
https://github.com/jrzaurin/pytorch-widedeep/blob/c287c870eb3e22f1a05753c821daaa715b1ed917/pytorch_widedeep/models/transformers/_embeddings_layers.py#L15
#60
There is a bug in which FullEmbeddingDropout operates in both train and evaluation.

[2021-11-23 13:03] jrzaurin commented on #61
@jmpark-swk just in case, this has not been fixed in the branch https://github.com/jrzaurin/pytorch-widedeep/tree/pmulinka/uncertainty

Soon to be merged to master :)

[2021-11-24 13:16] #57 closed

[2021-11-24 13:16] #60 closed

[2021-11-24 13:18] #61 closed

[2021-11-28 23:35] 5uperpalo commented on #59
additional notes:
**tweedie loss**
* I took the initial idea and implementation from this [post](https://towardsdatascience.com/tweedie-loss-function-for-right-skewed-data-2c5ca470678f) and related [paper](https://arxiv.org/pdf/1811.10192.pdf)
* almost similar implementation [here](https://discuss.pytorch.org/t/custom-tweedie-loss-throwing-an-error-in-pytorch/76349/6)
* my brain is starting to hur

[2021-11-30 11:33] 5uperpalo commented on #59
additional notes for TweedieLoss:
* this [post](https://towardsdatascience.com/tweedie-loss-function-for-right-skewed-data-2c5ca470678f) only briefly summarizes this [paper](https://arxiv.org/pdf/1912.12356.pdf) which calculates Probability Density Function and then expresses Negative Log Likelihood, which is a common function used for Losses in DeepNets thanks to it's nice characteristics in inte

[2021-12-01 06:14] egmaminta opened #63 "name 'WideDeep' is not defined"
Good day. I'm testing pytorch-widedeep on tabular data (specifically TabResnet). I followed the steps as shown here in this article: https://towardsdatascience.com/pytorch-widedeep-deep-learning-for-tabular-data-9cd1c48eb40d. When I attempted to run the code to instantiate WideDeep, an error shows saying WideDeep is not defined. I can't seem to find any workaround on this one. I was wondering if y

[2021-12-01 06:19] egmaminta commented on #63
UPDATE: So I git cloned this repo, and copied the wide_deep.py file. I then used:

from wide_deep import WideDeep

The error vanished but I'm not quite sure I'm doing it right. Anyone who can confirm on this? Thanks!

[2021-12-01 07:55] jrzaurin commented on #63
Hey @egmaminta

no, you are not doing it right. You have two options.

you can install the library via pip:

[code]

alternatively, you can install it from github for you to get the latest version

[code]

if you want to edit it, you can do:

[code]

Then you can check the updated [docs](https://pytorch-widedeep.readthedocs.io/en/latest/index.html) and [examples](https://github.com/jrzaurin/pytorc

[2021-12-01 08:07] egmaminta commented on #63
Hi! Although I did install the library, the error would persist. I might try it again later. Looking forward to upcoming features. (Can you also include step-by-step guides in defining optimizers, learning rate schedulers?) Thanks and all the best!

[2021-12-01 08:44] #63 closed

[2021-12-01 08:45] jrzaurin commented on #63
Remember you imported as:

[code]

and should be

[code]

[2021-12-05 09:07] egmaminta opened #64 "ModelCheckpoint save_best_only not working"
Good day! So I attempted to use the ModelCheckpoint callback in the hopes of saving the best weights throughout the training process. I was just testing so I temporarily placed 2 epochs as the number of epochs. When I checked the file folder (based on the filepath), I didn't find any '.pt' files. I checked the callbacks documentation and it seems that I didn't miss anything. May I ask if someone c

[2021-12-05 10:04] jrzaurin commented on #64
hey @egmaminta

if you have a look to the examples folder, for example here:

https://github.com/jrzaurin/pytorch-widedeep/blob/e1e6a2acd7634b3e9667f14741d6fac76dea7079/examples/adult_census.py#L107

or in the docs:

https://github.com/jrzaurin/pytorch-widedeep/blob/e1e6a2acd7634b3e9667f14741d6fac76dea7079/examples/adult_census.py#L107

you will see that optimizers, callbacks, etc, must be passed

[2021-12-05 10:20] egmaminta commented on #64
@jrzaurin thank you, good sir! I must've missed that, oops.

[2021-12-05 10:20] #64 closed

[2021-12-06 05:09] egmaminta opened #65 "'softmax' activation function"
Good day! I was wondering if we could use 'softmax' activation function for classification problems? I was trying to use TabResnet and FTTransformer for multi-class classification problem and the last layer is a linear. I was hoping if I can apply 'softmax'? or is it automatically implied?

Thanks.

[2021-12-06 07:46] jrzaurin commented on #65
hey hey @egmaminta

The `Trainer` will take care of it, it will take the output of that last layer and apply `Softmax` if needed. Here:

1. for the metrics: https://github.com/jrzaurin/pytorch-widedeep/blob/e1e6a2acd7634b3e9667f14741d6fac76dea7079/pytorch_widedeep/training/trainer.py#L1175
2. the loss: https://github.com/jrzaurin/pytorch-widedeep/blob/e1e6a2acd7634b3e9667f14741d6fac76dea7079/pytor

[2021-12-06 07:47] #65 closed

[2021-12-06 11:50] #59 closed

[2021-12-06 23:23] 5uperpalo opened #67 "Integrate Label distribution smoothing (LDS) & Feature distribution smoothing (FDS) from DeepImbalancedRegression"
integrate Deep Imbalanced Regression into the library https://github.com/YyzHarry/imbalanced-regression
* include [weighted losses for LDS](https://github.com/YyzHarry/imbalanced-regression/blob/main/sts-b-dir/loss.py)
  * focalmse
  * focall1
  * huber
  * weighted_mse_loss
  * weighted_l1_loss

[2021-12-10 07:24] zhang-HZAU opened #68 "When I run wide and deeptab,I got stuck"
Hi pytorch_widedeep team,
First of all thank you for your contributions to the wide_deep field. Recently I am doing a task about classification. The essence is similar to the predicted adult salary level shown in the example in the project readme. All of my input data has been processed as numerical values. The data contains continuous values ​​and some indicators are discrete values ​​(such as: 0

[2021-12-10 08:57] jrzaurin commented on #68
Hey @zhang-HZAU

Thanks for the issue.

You are not the first one that finds this not intuitive so we will add a warning as soon as possible.

The "issue" is that when you have a multiclass classification problem, you need to specify the number of classes via the `pred_dim` param to the `WideDeep` class, as this has no notion/information of the target.

see here:
https://pytorch-widedeep.readthedo

[2021-12-10 09:35] jrzaurin commented on #68
@zhang-HZAU

is you could send me the data or point me towards where I can get it would be great

[2021-12-10 11:10] francescopisu opened #69 "Computing AUC on epoch end [suggestions are welcomed]"
Hey, I'm trying to write a custom metric to allow computing AUC score after each epoch's end. I tried using torchmetric's AUC but it seems that the attribute num_classes is required and I can't set it on torchmetric's AUC.
It seems weird since for Accuracy num_classes is inferred from the shape of y_pred and I can't set num_classes on it as well.

This is where I am so far:

[code]

Right now is w

[2021-12-10 11:55] jrzaurin commented on #69
@5uperpalo can you have a look to why the AUC in `Torchmetrics` is not working?

[2021-12-10 20:46] 5uperpalo commented on #69
@francescopisu , just an FYI I am working on it, I will create a solution tomorrow, today I prepared a working example:
* added imbalanced multiclass dataset to datasets in library
* created [testing scenario notebook](https://github.com/jrzaurin/pytorch-widedeep/blob/pmulinka/auc/examples/15_AUC_multiclass.ipynb)

[2021-12-11 01:43] zhang-HZAU opened #70 "To be continue:When I run Wide and DeepTab,I got stuck"
Sum: The original question mentioned that according to the project of "Predicting Adult Salary Levels", I changed the input classification category, "RuntimeWarning" appeared and split the validation set based on the training set and encountered the problem of exceeding the index. The original problem address is as follows:https://github.com/jrzaurin/pytorch-widedeep/issues/68

[2021-12-11 01:45] zhang-HZAU commented on #70
Thank you for your answers. According to your suggestion, I changed the label to start from 0, and added "pred_dim=5" to the "Wide" and "WideDeep" functions, but the problem arose again, that is, my problem was not solved, sorry. Previously, I guessed that the problem might be caused by missing data. I randomly deleted part of the data in the original "predicted adult salary level" data set, that

[2021-12-11 01:47] zhang-HZAU commented on #68
Thank you for your answers. According to your suggestions, my problem feedback is in another "issue", as follows: https://github.com/jrzaurin/pytorch-widedeep/issues/70

[2021-12-11 06:44] jrzaurin commented on #70
thanks! I will take a look asap

[2021-12-11 12:35] jrzaurin commented on #70
Hi there @zhang-HZAU .

So, is impossible for me to debug or solve an issue without reproducible code, which means I need to see some code AND a dataset that can pass through the model so I can see what the problem is.

Unfortunately, the 5 rows of data you sent me in `sub_data.xlsx` are not enough for me to debug. Therefore I decided to do the following. I see that your dataset is a mix of catego

[2021-12-11 15:38] 5uperpalo commented on #69
@francescopisu @jrzaurin please look at the proposed solution:

[2021-12-13 10:49] francescopisu commented on #69
@5uperpalo Thank you for all this work! Yeah, I later realized that AUC class computes the area using the trapezoidal rule and that AUROC was what I was really looking for.  It is now working as expected!

[2021-12-15 03:34] zhang-HZAU commented on #70
Hi jrzaurin ，
    Sorry, I haven't provided feedback in time because of other things being dealt with recently.
    After reading your example, I realized that there is indeed a problem with the category data. Now I have processed the data as follows:
    ①The data is filled with the matrix decomposition (Funk_SVD) algorithm (the filling process needs to be optimized, and currently only the predic

[2021-12-18 13:32] #69 closed

[2021-12-19 16:21] jrzaurin commented on #70
Hey @zhang-HZAU

sorry  long week at work, I will have a look to the file this week 🙂

[2021-12-20 15:13] AlexNmSED opened #72 "About loss function"
Hello everyone.
Can I customize the loss function? Train the model?

good luck

[2021-12-20 15:19] francescopisu commented on #72
Hi Alex,
take a look at the documentation of the Trainer class. You see there's a **custom_loss_function** parameter which can be set to a callable of your liking. Additionally, [here](https://github.com/jrzaurin/pytorch-widedeep/blob/master/examples/07_Custom_Components.ipynb) you can take a look at an example where a custom loss function is specified for training.

[2021-12-20 15:21] AlexNmSED commented on #72
Thank you very much for your help.

good luck

[2021-12-21 05:30] jrzaurin commented on #72
@AlexNmSED can we close this?

[2021-12-21 08:23] AlexNmSED commented on #72
Yes，you can.

Thank you

[2021-12-22 03:25] wolfryu opened #73 "What is MLP? Multi-layer process?Multi Layer Perceptron?"
Thank you for the great work and sharing !
What is MLP? Multi-layer process? Multi Layer Perceptron?

[2021-12-22 03:26] wolfryu commented on #73
Multi Layer Perceptron!

[2021-12-22 03:27] wolfryu commented on #73
Multi Layer Perceptron?

[2021-12-22 03:27] #73 closed

[2021-12-22 06:02] sungreong opened #74 "how to save tab_preprocessor (standard scaler , labelencoder )?"
With your library, when I test it, your code doesn't seem to save the file for tab_preprocessor(standard scaler, laben ecoder).
Do you know where to save it?

[2021-12-22 06:04] jrzaurin commented on #74
Hey @sungreong

the `TabPreprocessor` can be saved as any other python object using `picke`

Hope it helps!

[2021-12-22 06:04] #72 closed

[2021-12-22 06:06] sungreong commented on #74
@jrzaurin
thanks for your reply!
I wonder why you didn't create a function to save those objects.

[2021-12-22 06:09] jrzaurin commented on #74
You mean like

[code]

You mean something like that. Well, we did not think it added value compared to simply pickle it, but certainly we can consider it

[2021-12-22 06:12] sungreong commented on #74
I was just asking out of curiosity.
Thanks for your reply. When I saw 08_save_and_load_model_and_artifacts.ipynb among the examples, I was able to understand to a certain extent.

[2021-12-22 06:12] #74 closed

[2021-12-23 03:29] zhang-HZAU commented on #70
Hi jrzaurin ，
I updated the data of the input model (see the attachment for the new data and code), namely "wide_cols" and "cross_cols", but the problem of splitting the training set into the validation set still exists.
In the new situation now, I can obtain the loss and accuracy of the interface function through the "History" interface to visualize the training process,as follows:
[code]
Similar

[2021-12-23 06:25] jrzaurin commented on #70
Hey @zhang-HZAU I will have a look to the notebook later and check that val split problem, in the meantime, regarding the loss and accuracy from the `predict` method here is the thing. The `predict` method in the `Trainer` does not take a target variable, as is supposed to be used with test data where you normally don't have the target. Note this is common in most libraries (e.g.  sklearn).

If yo

[2021-12-23 12:40] jrzaurin commented on #70
Hi @zhang-HZAU

so I looked into your notebook and simply, the issue you are facing is because while you define X_tab with the train dataset

[code]

You then define the target with the entire set:

[code]

Simply change that into

[code]

and at least in my case, it runs

:)

[2021-12-24 00:46] zhang-HZAU commented on #70
Hi,jrzaurin,
    Indeed, I followed your suggestion, and the error of segmenting the data set disappeared, sorry. Thank you again for your patient answers.

[2021-12-24 12:13] jrzaurin commented on #70
Hi @zhang-HZAU

No problem, thank you for using the library 🙂

[2021-12-24 12:13] #70 closed

[2021-12-27 06:53] egmaminta opened #75 "Is 'CUDA' available for pytorch-wideep?"
Hi! I have been getting state-of-the-art results from this library. So, kudos to the team!

I was wondering if I could use 'CUDA' or GPU as my device instead of CPU?

Thank you.

[2021-12-27 07:27] jrzaurin commented on #75
Hi @egmaminta

These are fantastic news! Awesome. @5uperpalo and myself put a lot of work here, so is fantastic to hear that. Thanks for letting us know

Regarding GPU, it all happens under the hood, meaning, if GPU is available, it will use it.

Here: https://github.com/jrzaurin/pytorch-widedeep/blob/8b4c3a8acbf06b385c821d7111b1139a16b4f480/pytorch_widedeep/training/trainer.py#L48

For the time b

[2021-12-27 07:30] egmaminta commented on #75
This is noted. Thank you! By the way, is there anyway I could cite the team? I'm doing a research and I'm using your package!

[2021-12-27 07:41] jrzaurin commented on #75
I will include some citation in the Readme. Let me come back to you later here.

And again, thanks!

[2022-01-04 13:25] #68 closed

[2022-01-04 13:26] #75 closed

[2022-01-17 23:20] 5uperpalo opened #78 "Migrate documentation from Sphinx to Mkdocs"
main inspiration : https://towardsdatascience.com/five-tips-for-automatic-python-documentation-7513825b760e
* see [branch](https://github.com/jrzaurin/pytorch-widedeep/tree/pmulinka/mkdocs)
* current issue - I am adjusting the automate script

[2022-01-18 02:07] 5uperpalo commented on #78
* automate.py script goes through whole library and gathers funbctions and classes
puts them into mkgendocs.yml
* gendocs util tranforms  mkgendocs.yml into .md files in docs_mk
* mkdocs build tranforms md files in docs_mk into documentation in /site
* [optional] mkdocs serve will create http server to check the documentation
* [optional] running of automate script can be part of prehook, but this

[2022-01-18 23:13] 5uperpalo commented on #78
* jupyternotebook are now displayed in documentation - each notebook has to start with level 1 heading, I adjusted couple of notebooks that started with level 2
* mkgendocs copies everything from templates dir to sources_dir (sources_dir is recreated each time), if we want to have examples/notebooks/*.ipynb in the documentation we have to copy them to templates ourselves - fixed it at the end of a

[2022-02-27 18:30] rv-iiita opened #79 "Computation of AUROC at the epoch end"
Hey , I was implementing this binary classification on adult census dataset using pytorch-widedeep  in which I am trying to calculate AUROC metric using **torchmetric's AUROC** at the epoch's end  but i am getting this error ,

`trainer = Trainer(model, objective="binary", metrics=[AUROC])`
`trainer.fit( X_wide=X_wide, X_tab=X_tab, target=target, n_epochs=5, batch_size=64, val_split=0.2 )`
TypeErr

[2022-02-28 18:58] jrzaurin commented on #79
Hey @rv-iiita

do you have some code we could reproduce?

Other than that I have an idea what it might be, which is `AUROC` needs to be instantiated? i.e. `AUROC()`

Let me check with @5uperpalo anyway and get back to you

[2022-02-28 19:07] rv-iiita commented on #79
Yes sir @jrzaurin, here i am attaching the link to Google colab notebook of the code

[https://colab.research.google.com/drive/1h0-6wTEcVh951KErleCBKvN6X_g5-LMA?usp=sharing](url)

[2022-02-28 19:21] jrzaurin commented on #79
Thanks!

more news soon 😉

[2022-02-28 20:01] 5uperpalo commented on #79
hi @rv-iiita ,
this issue was reported and fixed previously, see pullrequest : https://github.com/jrzaurin/pytorch-widedeep/commit/8b4c3a8acbf06b385c821d7111b1139a16b4f480
* **problem (with an excuse O:-) )**: pytorch_widedeep version on pip is 1.0.13, last version on git is 1.0.14, we are in the middle of merging a large pull request and we were hoping to do it much sooner so the v1.0.14 was not

[2022-02-28 20:06] rv-iiita commented on #79
Thanks a lot @jrzaurin  & @5uperpalo for our kind help 😊 !!

[2022-02-28 20:06] #79 closed

[2022-03-07 07:25] Darshan2104 opened #81 "How to use for seq2seq data?"
Hey there,

I'm working with text generation task from given text data. new text with better semantic relation between sentences!
How to use a wide-deep network for sequential data which are not in tabular form?

I'm new to the WideDeep concept. If anybody has any idea, please help me out.

Thanks
Darshan Tank

[2022-03-07 07:58] Darshan2104 commented on #81
What is DeepText?
What does it do?
What does only the **wide+deeptext** part generate at the end?

[2022-03-08 13:12] jrzaurin commented on #81
Hey @Darshan2104

Already replied to your email :)

For the time being we only support classification/regression tasks with multi-modal data

Talk soon!

[2022-03-08 13:12] #81 closed

[2022-03-08 20:30] devashish-khatwani opened #82 "Huggingface integration"
Is there any plan of integrating with HuggingFace to utilize in Deeptext and DeepImage?

[2022-03-08 20:38] jrzaurin commented on #82
Hey @devashish-khatwani

there is in fact! is one of our plans for v2 as well as the new torchvision (still unsure about including  transformers for vision).

We are about to release v1 which will have some additional components for text and image, still not hugginface.

In summary, yes! we will integrate with hugginface I hope in the mid term. If you want to contribute you are more than welcome.

[2022-03-10 09:02] #82 closed

[2022-03-10 09:52] #67 closed

[2022-03-10 09:52] #58 closed

[2022-03-14 23:59] enrir opened #83 "Pytorch-widedeep: The kernel appears to have died. It will restart automatically."
Awesome library, I'm eager to test it.
System: Ubuntu 20.04.3 LTS (JupyterHub server)
As picture shows, when running the Quick start code snippet from the Readme I encounter this error, when fitting the trainer.
![torch-widedeep](https://user-images.githubusercontent.com/34719832/158279182-08581029-39cd-480e-b006-21cf34dba883.png)
The error message doesn't give much to understand the problem.
Runn

[2022-03-15 06:21] jrzaurin commented on #83
Hey @enrir , thanks for opening the issue.

We will check asap. Runs well on my mac and EC2 instances (e.g. c5 and p2) but let me try some others

[2022-03-15 06:28] jrzaurin commented on #83
In the meantime, can you run any of the example notebooks? or the `adult_census.py` script in the `examples/scripts folder`?

See what happens

[2022-03-15 17:01] jrzaurin commented on #83
We are looking into this, might have to do with how the environment where it runs was created, and/or the fact that the library is set up to work with the newest version of torch (and is not backwards compatible, which I will fix).

In the meantime have a look to this thread: https://discuss.pytorch.org/t/the-kernel-appears-to-have-died-it-will-restart-automatically/102533/8

[2022-03-15 17:55] jrzaurin commented on #83
Ok, so unfortunately, I don't know what is happening with the new version of the library and jupyter.

Apart from reading that thread I posted, there is an alternative:

downgrade the library:

[code]

unfortunately, at the moment is not backwards compatible, which I will fix soon, and there are subtle differences:

Try running this code:

[code]

This runs on my ubuntu machine. Note that there ar

[2022-03-15 21:13] 5uperpalo commented on #83
@enrir I noticed same issue today on my laptop when I was running jupyter in browser, the notebook was running fine when I was running it in vscode ... I am sorry I do not have more satisfactory answer/solution for you but after reinstalling/updateing packages using pip and then conda throughout the whole day I ended up with environment the neither torch nor pytorch_widedeep were running in vscode

[2022-03-16 12:48] enrir commented on #83
@5uperpalo @jrzaurin Thanks for your help and suggestions.
In order to test pytorch-widedeep i have created i virtual enviroment with venv (in my server I'm forced to use just pip, not conda), and I have included all the packages described in `docs/requirements.txt`.

I have also tested e previous version of the package (v.1.0.10) and using [this example](https://github.com/jrzaurin/pytorch-widede

[2022-03-20 14:30] jrzaurin commented on #83
@enrir any news? did you manage?

[2022-03-24 09:11] twhelan22 opened #85 "ImportError: libGL.so.1: cannot open shared object file: No such file or directory"
This appears to be caused by opencv-contrib-python being installed as part of the requirements. I am running this on a cloud notebook and the machine I am working on already has opencv-python-headless installed, which is more appropriate for a cloud server environment. To resolve the error I have to update opencv-python-headless after installing pytorch-widedeep; however, the guidance [here](https

[2022-03-24 09:39] jrzaurin commented on #85
Well, I would suggest to start a clean environment in your server, whether using conda, pyenv, poetry...whatever, and then install `pytorch-widedeep` in that clean environment.  That should fix the problem.

Otherwise, I would say that the problem is related to some missing dependencies: https://stackoverflow.com/questions/55313610/importerror-libgl-so-1-cannot-open-shared-object-file-no-such-file

[2022-03-27 16:04] ahmed-mohamed-sn opened #86 "Model pretraining"
Great package. Is it possible to pretrain models on unlabeled data?

[2022-03-27 16:16] jrzaurin commented on #86
hey @ahmed-mohamed-sn

Thanks for the comment. If you mean, self-supervised, no, at the moment the library can only be used for supervised problems, sorry 🙂.

We aim to bring self-supervised (actually a couple of approaches) in v2, but for the time being we only support supervised problems.

v2 should be out in the next few months.

You could join our slack channel and be up to date if you wanted

[2022-03-28 07:59] ahmed-mohamed-sn commented on #86
Yes indeed I meant self-supervised learning. Looking forward to start using v2 👍🏼

What is your slack channel?

[2022-03-28 17:57] jrzaurin commented on #86
Hey @ahmed-mohamed-sn here you have the link Join my Slack workspace! https://join.slack.com/t/pytorch-widedeep/shared_invite/zt-soss7stf-iXpVuLeKZz8lGTnxxtHtTw

[2022-04-09 13:47] w1nk opened #88 "tab2vec on text / images"
Hello!

  I see in the documentation (and the warning in the code), that tab2vec is only able to extract embeddings from the tabular models.  Is it still planned to change that to extract embeddings from the other 2 modalities?

[2022-04-09 15:46] jrzaurin commented on #88
Hi @w1nk

It is indeed. I just need a few weeks of 'less intense' work and I'll get to it. (or if you want to contribute, even better!)

I plan to find time to go back to the library in the next 1-2 weeks.

Thanks for the question and the interest!

[2022-04-09 18:31] w1nk commented on #88
I'll gladly contribute as I can, hopefully I can dig deep enough to give a hand.  Thanks for the work, it looks great :).

[2022-04-09 18:31] #88 closed

[2022-04-12 21:47] antonl commented on #83
Note that this can also be due to an out-of-memory error or a segfault. You can try scaling your problem size down to make sure this isn't the problem.

[2022-04-13 22:33] gradientsky opened #89 "WideDeep class is not honoring device settings from the trainer"
[wide_deep](https://github.com/jrzaurin/pytorch-widedeep/blob/master/pytorch_widedeep/models/wide_deep.py#L26-L27) uses hard-coded logic to get device and not honoring settings from [trainer](https://github.com/jrzaurin/pytorch-widedeep/blob/master/pytorch_widedeep/training/trainer.py#L1478). On a GPU box, when device is set to `cpu` this causing some tensors to be on `cuda` while others on `cpu`:

[2022-04-14 06:20] jrzaurin commented on #89
Hey @gradientsky thanks for the issue, I'll try to fix this during these easter holidays!

thanks again!

[2022-04-15 10:37] jrzaurin commented on #83
Hi @enrir

so, some news, the problem seem to be related with the multiprocessing library and jupyter. We still don't have a definitive answer, but one workaround is to set `num_workers=0` in the `Trainer`

I am going to leave this issue open and keep digging.

[2022-04-15 13:34] #86 closed

[2022-04-15 13:35] jrzaurin commented on #85
@twhelan22

are things ok? all working?

[2022-04-18 08:12] jrzaurin commented on #85
Closing this, will re-open if the issue is indeed related to the library

[2022-04-18 08:12] #85 closed

[2022-04-21 03:28] heartkilla opened #92 "Support for multiple GPUs"
Is there any way to run the models on multiple GPUs?

[2022-04-21 16:03] gradientsky commented on #83
The issue is happening when torch `dataloader` is starting to iterate; it’s just happens in trange call from `tqdm` (not sure if the progress bar is really doing anything special, it’s just the first thing using the loader).
Another workaround is to update zmq:

[code]

This will prevent 'kernel died' cases, but might get back some spam in logs:
![image](https://user-images.githubusercontent.com/1

[2022-04-22 09:42] jrzaurin commented on #92
hey @heartkilla

Thanks for asking

So, at the moment there is no support in the package as such. The reason is actually quite simple. Every test on GPU is run on my personal AWS account so I did not have the budget to develop full support for multiple-gpu. However this is changing soon and is in our road map.

Nonetheless, I wonder if you could still use the library, or the code in it, to run mod

[2022-04-25 03:11] heartkilla commented on #92
@jrzaurin
Thank you very much for your reply.

I'm trying to do a similar thing but it seems to change the attributes of the model, maybe there is some workaround?

[code]

[code]

[2022-04-25 03:28] heartkilla commented on #92
This helped👍

[code]

https://discuss.pytorch.org/t/how-to-reach-model-attributes-wrapped-by-nn-dataparallel/1373/7

[2022-05-02 23:20] #89 closed

[2022-05-17 04:46] #83 closed

[2022-05-17 04:46] #92 closed

[2022-05-20 15:29] aendk opened #94 "Running adult_census.py fails"
Hi there, I tried to run an example from your blog on my machine (ubuntu 20.04).
I've installed pytorch-widedeep via pip inside my conda env today.
my pytorch version is 1.9.1, anaconda is 4.12.0.
Running ```adult_census.py``` exposes the following error:
[code]

Do you require any other info to reproduce this error?
Additionally, do you have pointers on how to fix it?

[2022-05-23 16:13] jrzaurin commented on #94
Hey @aendk can we consider this solved?

[2022-05-24 08:55] aendk commented on #94
@jrzaurin yes, thank you for your swift reply.
I could replicate on another machine, looks like I've downgraded my torch somehow in the past :sweat_smile:

[2022-05-24 08:55] #94 closed

[2022-06-15 21:57] gradientsky opened #96 "Last batch is not being discarded during training can result in issues with batchnorm layers"
Batchnorm cannot be computed with a single record (happens on the last batch with only 1 row):
[code]
It's a common practice to discard these since for batchnorm means can get tricky if only a few records present.

The problem is happening here: [pytorch_widedeep/models/tabular/embeddings_layers.py#L339](https://github.com/jrzaurin/pytorch-widedeep/blob/master/pytorch_widedeep/models/tabular/embed

[2022-06-16 04:44] jrzaurin commented on #96
@5uperpalo I think you encountered this error and found a workaround. We'll address it in the next release.

Thanks @gradientsky 😉

[2022-06-16 07:09] 5uperpalo commented on #96
hi @gradientsky please use Trainer.fit(..., drop_last=True), we extract and forward pytorch DataLoader paramaters from the fit method, see [here](https://github.com/jrzaurin/pytorch-widedeep/blob/487fa1a6ea8bd751f8817840043882241cc989e7/pytorch_widedeep/training/trainer.py#L1239) and you may find their documentation on pytorch website [here](https://pytorch.org/docs/stable/data.html?highlight=data

[2022-07-13 17:51] chris-boson opened #97 "PyTorch Lightning Trainer"
related to https://github.com/jrzaurin/pytorch-widedeep/issues/92

Would it possible to make this library compatible with a standard training framework such as [PyTorch Lightning](https://pytorch-lightning.readthedocs.io/en/stable/)? It would offer
- Multi GPU support
- Compatibility with [`torchmetrics`](https://torchmetrics.readthedocs.io/en/stable/) (I found some issues with device placement wh

[2022-07-14 11:13] jrzaurin commented on #97
Hey @chris-boson

Well, when I started to code the library my goal was to create a model reservoir and a frame to combine text, images and tabular in the simplest way. With that in mind I decided to not integrate with any other library simply because I left that responsibility to the user, and I did not want the user to have to learn about any additional library. Or perhaps simply reduce the numbe

[2022-07-14 11:53] keonho-kim opened #98 "(Noob Question) CUDA error: device-side assert triggered"
* Environment : Google Colab Pro (Tesla P100 / T4, both tested)

## Error Massage

Hi, I'm currently working with Kaggle competition which has not small dataset (about 1.5gb)

Now I'm trying to solve the error,

[code]

The error occured when I utilized both of wide and deep models, it did not happen when only passed  wide or deep (MLP).

The code is exactly same with example notebook - binary cla

[2022-07-14 18:52] jrzaurin commented on #98
Hi @keonho-kim . Thanks for opening the issue.

Could you include a running example that we can debug? or maybe point to the colab note book?. Just from the code you included is hard to tell what is failing.

I will run some more tests soon, but if you could do that would be really helpful

[2022-07-14 19:04] jrzaurin commented on #98
Hey @keonho-kim , thanks for opening the issue. Well check asap, in the meantime, maybe this is useful:  https://link.medium.com/j5gF6HrbFrb

[2022-07-18 07:05] #96 closed

[2022-07-18 07:06] #78 closed

[2022-07-23 14:57] rv-iiita opened #99 "Issue: unsupported operand type(s) for +: 'int' and 'str'"
Hi @jrzaurin @5uperpalo
I was trying to implement the TabTransformer model with adult census dataset, but getting the following error which i am not sure how to resolve it, I will be greatfull if you can suggest some solution, Thank you .
here i am attaching link to colab notebook for your reference.
[**Google Colab notebook link**](https://colab.research.google.com/drive/1frREM4uHAMtpNOXY59pPS0Av

[2022-07-27 20:33] jrzaurin commented on #99
Hey @rv-iiita

I replied to you in the slack channel, but just in case, in the code, replace `cat_embed_cols` with `cat_embed_input` as you instantiate the Transformer ;)

[2022-07-28 02:45] rv-iiita commented on #99
Thanks a lot @jrzaurin .

[2022-07-28 02:45] #99 closed

[2022-08-13 14:29] jrzaurin commented on #98
@keonho-kim did the post solve the problem?

[2022-08-13 14:30] #97 closed

[2022-08-29 14:48] jrzaurin commented on #98
Closing it, if necessary we will re-open it

[2022-08-29 14:49] #98 closed

[2022-08-30 09:51] jrzaurin commented on #86
hi @ahmed-mohamed-sn

I posted this yesterday in the slack channel, but I dont know if you are there:

-------------------------------------------------------------------------------
hi guys
so, next week we will release v 1.2 of the library. There are number of features coming, but perhaps the most important one is the ability to run self-supervised pre-training for all tabular models (with the e

[2022-09-23 13:45] GillianGrayson opened #105 "How to cite in papers?"
Hi!

Awesome package!
How to correctly cite it in papers? Do you have connected publication on arxiv.org or any doi?

Thanks!

[2022-09-23 20:06] 5uperpalo commented on #105
Hi @GillianGrayson , thank you for your question.

We want to avoid a non-peer-reviewed process, but we also believe in open-source code. For these reasons, we decided to make the library cite-able using [Journal of Open Source Software(JOSS)](https://joss.theoj.org/). We need to "clean up" the related [short paper](https://github.com/jrzaurin/pytorch-widedeep/tree/joss_paper/mkdocs/paper_JOSS) a

[2022-09-27 01:22] Yiming-Deng opened #106 "Which version of Pytorch should be used?"
I have tried to use torch1.11.0+torchvision0.12.0 and torch1.7.1+torchvision0.8.2, but report errors like "No module named 'torchvision.models._api'" and "cannot import name 'RandomInvert' from 'torchvision.transforms'". I guess it maybe the version of pytorch that I used is higher than the project used. So which version of Pytorch should be used in this project?

[2022-09-27 07:37] jrzaurin commented on #106
hey @Yiming-Deng

look:

[code]
Please, hope it helps, let me know if you have other issues :) and thanks for opening the issue!

[2022-09-27 09:17] Yiming-Deng commented on #106
@jrzaurin , Thanks for your help, I use "pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113" and "pip install pytorch-widedeep==1.2.0". And it works fine now.

[2022-09-29 12:14] SaiChandra3030 opened #107 "Will it work for RecSys?"
Hello team, i am working with recommendation system, i came across to your repo for recommendation system model building, now i have doubt. will this library work for the recommendation systems or not

I haven't seen any example on the recommendation system in the documentation.

Thanks
Sai

[2022-09-29 12:32] jrzaurin commented on #107
Hi @SaiChandra3030 , thanks for opening the issue

The library was originally inspired by the wide and deep paper which is indeed designed for RecSys, so, it should "_work_".

Of course all depends what you mean by "work" 🙂, meaning good results are not guaranteed. However, for example, you can pass some categorical cols to the wide component and some continuous cols to the deep component choosing

[2022-09-29 20:13] SaiChandra3030 commented on #107
Hello @jrzaurin Thanks, for the great explanation i have gone through the documentation, wide and deep mostly used for the classification, i have done up to the **classification**. the real issue is that **I haven't find the recommendation model like ranking the top products for the customers.**

if you give clear idea on this. it will be more helpful for me.

[2022-09-30 07:54] jrzaurin commented on #107
Hey @SaiChandra3030

okay, so here we are getting into different discussions. One is whether or not the library can be used to build a recommender system, and the answer to that is "yes". Another one is whether the library supports ranking losses or metrics, and to that the answer is "no" (or not yet)

So let me give you an example of a possible project flow.

You need to build a recommendations s

[2022-09-30 07:54] zhouyongxiu opened #108 "No module named 'pytorch_widedeep.datasets'"
I pip install pytorch_widedeep, but run example code get No module named 'pytorch_widedeep.datasets'

[2022-09-30 08:07] jrzaurin commented on #108
hey @zhouyongxiu

which version of the library are you using?

Look:

[code]

then

[code]

[2022-09-30 08:10] zhouyongxiu commented on #108
my version is '1.0.5', and pip in my macos

[2022-09-30 08:44] jrzaurin commented on #108
Could you update?

[2022-09-30 09:52] zhouyongxiu commented on #108
when I run pip install pytorch-widedeep==1.2.0, I get
ERROR: Could not find a version that satisfies the requirement pytorch-widedeep==1.2.0 (from versions: 0.3.7, 0.4.1, 0.4.2, 0.4.5, 0.4.6, 0.4.7, 0.4.8, 1.0.0, 1.0.5)
ERROR: No matching distribution found for pytorch-widedeep==1.2.0

[2022-09-30 10:28] jrzaurin commented on #108
I mean, at this point I really don't know what to tell you

![Uploading Screenshot 2022-09-30 at 12.27.55 PM.png…]()

[2022-09-30 11:40] SaiChandra3030 commented on #107
Thanks for the Great Explanation, I have got it.

here is a small doubt, i am using multiclass classification targets. here i am going with the `predict_prob` function as we know that it will return `probabilities` of the classes. I am using `argsort` method to sort the index and finding the top `probabilities `of the `predict_prob` . CAN I CONSIDER TOP 10 VALUES AS THE RECOMMENDATIONS FOT THE GIV

[2022-09-30 14:15] zhouyongxiu commented on #108
I update my python to 3.7 and solved this problem, thanks !

[2022-09-30 14:29] #108 closed

[2022-09-30 14:35] SaiChandra3030 commented on #107
Waiting for your reply @jrzaurin, reply me in your free time 😄

[2022-10-01 03:56] buzzrk opened #109 "TabPreProcessor fails if there are no continuous columns"
## Background:
I noticed this while trying to use AWS TabTransformer.
When I run code with all categorical columns and no continuous columns, the code crashes.
I think the error is due to lack of continuous columns.
I replicated the error on TabPreprocessor using the code in documentation.

## Issue
This code errors out.
The code seems to be applying Standard scalar when there are no continuous co

[2022-10-01 04:07] buzzrk commented on #109
I checked the code for fit_transform.
Looks like the code expects None if there are no continuous_cols.
Looks like it is not exactly a bug.
But many models will pass in empty array and it should be supported.

if self.continuous_cols is not None:
            df_cont = self._prepare_continuous(df_adj)

[2022-10-01 07:03] jrzaurin commented on #109
Hey @buzzrk

I am traveling and either me or @5uperpalo will reply as soon as we have a sec.

In the meantime, could you please change the issue's title according to the content? (e.g. support for empty arrays, or anything similar)

The truth is that is not a bug and is intended by design (since the preprocessor expects a dataframe and the corresponging arg for continuous cols to be`None` if there

[2022-10-01 10:19] 5uperpalo commented on #109
@buzzrk I believe you already solved this, but here are some additional thoughts: I think the issue that you came across is about "type checking in python". Usually, it is considered non-pythonic. The function expects either List[str] for continuous features or nothing(None is default). You were sending an empty list which is neither, There are arguments pro&against type checking in python, eg. th

[2022-10-01 16:38] jrzaurin commented on #109
Hi @buzzrk

So, in terms of typing you are right, if the type is not `Optional` (as it is not) then the default should be something like `[]`.

Is not a major issue and we'll fix it in the next release. In the meantime, you could use pass `None` (as @5uperpalo suggests) or let the class use the default.

Also, as @5uperpalo mentions, I am not sure what you mean by a model taking empty arrays. The

[2022-10-02 03:42] buzzrk commented on #109
Thanks everyone for the quick responses.

I changed the title as recommended.
I was confused because code failed in StandardScaler instead of input validation.
Support for [] should be good solution.

There is a workaround (using None) but I am using another library that does the column preprocessing and builds TabTransformer. Hence I cannot use the workaround myself.
I am going to open a bug for

[2022-10-03 06:31] SaiChandra3030 commented on #107
Hello @jrzaurin hope you're doing well, will please reply for the above comment. Thanks

[2022-10-03 07:33] jrzaurin commented on #107
Hi @SaiChandra3030 bear in mind we all have jobs and responsibilities in our daily lives, so I will not always be able to reply immediately after your comments. I will always try to find time, but sometimes you will have to wait a bit.

Anyway, having said that, the answer to your question is, in principle, yes, you can use the probabilities of your items as scores to rank.

For example, if you ar

[2022-10-03 07:52] SaiChandra3030 commented on #107
Thank You so much @jrzaurin and sorry for disturbing :( you. I have got all my answers.

I hope this thread will help future developers too, I have got accuracy around 60% with 420 classes working on the tuning of the models.

Thanks :)

[2022-10-03 07:57] jrzaurin commented on #109
ok @buzzrk let me go paragraph per paragraph as we are still a bit confused:

I think in the next release we will define cat and cont cols as:
[code]
This will solve the issue and will make the types more consistent

So, let me see if we get it. You are using another library to preprocess the data and build the model? Then what is the issue with ours? Can you not just use that other library? or ar

[2022-10-03 08:28] jrzaurin commented on #107
Awesome, let me close this and if you have any other question, keep posting :)

[2022-10-03 08:28] #107 closed

[2022-10-07 05:15] BingzhaoZhu opened #110 "Implementation of Additive Attention"
Hi,

I have a question about the implementation of FastFormer. [The current implementation in WideDeep calculated the attention weight and "softmax" across the last dimension, which correspond to "num_heads". ](https://github.com/jrzaurin/pytorch-widedeep/blob/master/pytorch_widedeep/models/tabular/transformers/_attention_layers.py#:~:text=alphas%20%3D%20(self.W_q(q)%20/%20math.sqrt(self.head_dim)

[2022-10-07 08:46] jrzaurin commented on #110
Hey @BingzhaoZhu

I think you are right, this is a bug, thanks for having a look to the code in such detail!

Let me fix it and I will let you know when is done

[2022-10-07 09:42] jrzaurin commented on #110
@BingzhaoZhu

It is not fixed in master and publish to pypi

Thanks again for raising the issue :)

[2022-10-07 09:42] #110 closed

[2022-10-17 07:55] aendk opened #112 "Validity of the WIDE-Part"
Hey!

I have been using parts of your great repository, but there is one thing I am confused about:

The [original Cross-Product Transformation](https://datascience.stackexchange.com/questions/57435/how-is-the-cross-product-transformation-defined-for-binary-features) is defined as a _product_, wherein `c` selects/deselects the relevant embeddings which are then multiplied together.
In your [WIDE](

[2022-10-17 10:54] jrzaurin commented on #112
Hey @aendk

Thanks for your words, and let me see if I can explain our implementation of the wide component. Let me start by saying that strictly speaking, the wide component does not use Embeddings, we implement is as Embeddings, but is a linear model. In other words, is literally:

$$ y = \textbf{W}^T \textbf{x} + b $$

Where the none linearities are captured via crossed products. If you wanted

[2022-10-17 12:37] aendk commented on #112
Thank you so much @jrzaurin, this really helped me/our team; I've overlooked the required preprocessing and expected the `Wide`-layer  to "just work".

I'll dig deeper into your library and your `WidePreprocessor`

[2022-10-17 12:37] #112 closed

[2022-10-17 12:47] jrzaurin commented on #112
If you have any questions/suggestion let me know!

[2022-10-19 07:49] lordfiftysix opened #113 "problem on prediction stage"
I am attempting to run the following code:
[code]

where x_test consists of a single column with text descriptions

and I am getting the following output

predict:  75%|███████▌  | 3/4 [00:00<00:00, 12.85it/s]
/usr/local/lib/python3.7/dist-packages/pytorch_widedeep/training/trainer.py in
--> 581             return np.vstack(preds_l).squeeze(1)

ValueError: cannot select an axis to squeeze out whic

[2022-10-19 07:51] jrzaurin commented on #113
hey @lordfiftysix

Could you point me to some code where I can reproduce the error?

[2022-10-19 07:52] lordfiftysix commented on #113
yes

[2022-10-19 07:53] jrzaurin commented on #113
The if you could please point me to some code?

Otherwise, maybe I can try later with some dataset I might have and "report back" the results here :)

[2022-10-19 07:54] lordfiftysix commented on #113
I suppose I am fine with the second option

[2022-10-22 06:50] lordfiftysix commented on #113
It did not work. I am trying to do multi-output regression. Here is some more of my code.

`
train_df = pd.read_csv('train.csv')
vectorizer = TfidfVectorizer(strip_accents=None,lowercase=False)
#word_vectors_path = "../tmp_data/glove.6B/glove.6B.100d.txt"
text_preprocessor = TextPreprocessor(text_col='full_text')
#print(train_df.head(0))
#tab_preprocessor = TabPreprocessor(['full_text'])
#tab_prep

[2022-10-24 08:23] jrzaurin commented on #113
To do multi-output regression or multi-label classification we would need to modify the code.

In fact I don't know what the `rmse` value that outputs might be in your case, since the library is designed to work with targets of shape (N, 1), as it is written in the [docs](https://pytorch-widedeep.readthedocs.io/en/latest/pytorch-widedeep/losses.html): _"Losses in this module expect the predictions

[2022-10-24 12:09] #106 closed

[2022-10-24 12:09] #105 closed

[2022-10-28 03:19] wangzyon opened #114 "no module named 'torchvision.models._api'"
run quick start demo，raise from ./pytorch_widedeep/wdtypes.py line 69

torchvision version 0.9.0+cu111

[2022-10-28 04:20] jrzaurin commented on #114
hey @wangzyon

See if this helps: https://github.com/jrzaurin/pytorch-widedeep/issues/106

[2022-10-28 05:46] wangzyon commented on #114
thanks

[2022-11-07 04:40] lordfiftysix commented on #113
Hey I wonder if you were ever able to dig into this problem. I can confirm that i have 6 columns and a few thousand rows as my output so RMSE probably wont work. That being said I am struggling to do multi-output regression on these 6 target columns given a single input text column.

[2022-11-14 11:27] #114 closed

[2022-11-14 11:32] jrzaurin commented on #113
Hey, sorry @lordfiftysix

I am buried at work these days, sorry for the late reply.

No I did not have the time sorry 🙁.

maybe you could consider this as 6 independent problems? and then combine the losses?

Alternatively, maybe you could code a custom loss yourself? Although this might not be straightforward. See if I get a sec towards the end of the week. Alternatively I will see if @5uperpalo